div.gallery {
  
    margin: 3em;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    
    text-align: center;
  }
  div.desc1 {
    
    text-align: center;
  }div.desc3 {
    
    text-align: center;
  }div.desc4 {
    
    text-align: center;
  }